<div class="post-preview">
    <a href="/{{ post.post_name }}" rel="bookmark">
        <h2 class="post-title">
            {{ post.post_title }}
        </h2>
    </a>
    <h3 class="post-subtitle">
        {{ post.post_content|length < 200 ? post.post_content : post.post_content|slice(0, 200) ~ '...' }}
    </h3>

    <p class="post-meta">Posted by <a href="#">{{ post.author.display_name }}</a> on {{ post.post_date|date('l j, Y') }}</p>
</div>